/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
target/
*.iml
node/node_modules
resources/graphiql/
.DS_Store
.project
.classpath
.cpcache
.settings
.vscode
.lsp/
*.asc
.clj-kondo/*
!.clj-kondo/config.edn
